 <!-- Page Content--> <main>
 <div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline title">Get to know me!</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">

  <!-- Education Section-->
  <section>
    <h2 class="mb-4 definitiontext"></h2>
    <!-- Education Card 1-->
    <div class="blurdiv shadow  rounded-4 mb-5 border border-0"  data-aos="fade-up"  data-aos-duration="1000">
        <div class="blurdiv p-5">
            <div class="row align-items-center gx-5">
             
                <div class="col-lg-8"><div class="" >I'm a Frontend Web Developer(Angular) building the Front-end of Websites and Web Applications that leads to the success of the overall product. Check out some of my work in the <b routerLink="/project">Projects</b>  section.
                   </div></div>
                   <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="d-none d-md-block p-4 rounded-4">
                        <svg xmlns="http://www.w3.org/2000/svg"  fill="#655cbf" class="bi bi-code-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
                          </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Education Card 2-->
   
</section>

          
          
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="blurdiv shadow border-0 rounded-4 mb-5"  data-aos="fade-up"  data-aos-duration="1000">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline text-dark">My Skills</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-3 h-100">HTML</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-3 h-100"> CSS</div></div>
                                <div class="col"><div class="d-flex align-items-center  rounded-4 border border-secondary-subtle p-3 h-100">JS</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-3 h-100">ANGULAR</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center border border-secondary-subtle  rounded-4 p-3 h-100">BOOTSTRAP</div></div>
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline  text-dark">Languages</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center border border-secondary-subtle  rounded-4 p-3 h-100">Arabic</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-3 h-100">English</div></div>
                                <div class="col"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-3 h-100">French</div></div>
                            </div>
                           
                        </div>
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline text-dark">Online Certification</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center  border border-secondary-subtle rounded-4 p-3 h-100"> <div class=" p-4 rounded-4">
                                   <a href="https://www.freecodecamp.org/certification/aymenbenmassoud/responsive-web-design" >
                                    <img  class="img-fluid" src="assets/images/c1.png" alt="">
                                    <div class="small text-white">responsive web design </div>
                                    <div class="small  text-white">(freecodecamp)</div></a>
                                </div></div></div>
                               
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-3 h-100"> <div class=" p-4 rounded-4">
                                 <a href="https://www.sololearn.com/certificates/CT-7QOVTDAZ">
                                    <img class="img-fluid" src="assets/images/c2.jpg" alt="">
                                    <div class="small  text-white">css certification</div>
                                    <div class="small  text-white">(sololearn)</div></a>
                                </div></div></div>


                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center  border border-secondary-subtle rounded-4 p-3 h-100"> <div class=" p-4 rounded-4">
                                  <a href="https://www.sololearn.com/certificates/CT-WVU0SKV2">
                                      
                                    <img class="img-fluid" src="assets/images/c3.jpg" alt="">
                                    <div class="small text-white">html certification</div>
                                    <div class="small  text-white">(sololearn)</div></a>
                                </div></div></div>
                                <div class="col mb-4 mb-md-0 mt-2"><div class="d-flex align-items-center  border border-secondary-subtle rounded-4 p-3 h-100"> <div class=" p-4 rounded-4">
                                  <a href="https://simpli-web.app.link/e/SkKHRx58rEb">
                                      
                                    <img class="img-fluid" src="assets/images/c4.png" alt="">
                                    <div class="small  text-white text-white">Angular Basics certification</div>
                                    <div class="small text-light">(simplilearn)</div></a>
                                </div></div></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</main>