<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline  title">Projects</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
              
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0 mb-5 "   data-aos="fade-up"  data-aos-duration="1000">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-center ">
                            <div class="p-sm-5 p-4">
                                <h3 >Project Details :</h3>
                                <p class="">  This Angular-Application  e-commerce project is designed to provide a comprehensive platform for both administrators and users. It features two distinct sections: an "Admin Panel" and a "User Storefront," offering a seamless and user-friendly shopping experience.</p>
                                <div><a href="https://github.com/aymen-ben-massoud/bikesecommerce"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/bikesecommerce/" class="btn btn-outline-light mx-2"  >  live page</a></div>
                                <!-- <button class="btn btn-outline-light"  >href="https://aymen-ben-massoud.github.io/bikesecommerce/"git link</button> -->
                            </div>
                            <img  class="img-fluid rounded-3" src="assets/images/p1.png" alt="..." />
                        </div>
                    </div>
                </div>
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0 mb-5" data-aos="fade-up"
                data-aos-duration="1000">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-center">
                            <div class="p-sm-5 p-4">
                                <h3 >Project Details :</h3>
                                <p >The "Resto Angular Application" is a modern and feature-rich digital solution designed to enhance the dining experience for both restaurant-goers and restaurant owners. This Angular-based platform offers a seamless and user-friendly interface, catering to the needs of diners and restaurant staff.</p>
                                <div><a href="https://github.com/aymen-ben-massoud/resto-api"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/resto-api/#" class="btn btn-outline-light mx-2"  >  live page</a></div>
                       
                              
                            </div>
                            <img class="img-fluid rounded-3" src="assets/images/p5.png" alt="..." />
                        </div>
                    </div>
                </div>
              
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0 mb-5"  data-aos="fade-up"  data-aos-duration="1000">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-center">
                            <div class="p-sm-5 p-4">
                                <h3 >Project Details :</h3>
                                <p >This Angular-Application  e-commerce project is designed to provide a comprehensive platform for both administrators and users. It features two distinct sections: an "Admin Panel" and a "User Storefront," offering a seamless and user-friendly shopping experience.</p>
                                <div><a href="https://github.com/aymen-ben-massoud/firebase-ecommerce"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/firebase-ecommerce/product" class="btn btn-outline-light mx-2"  >  live page</a></div>
                   
                            </div>
                            <img class="img-fluid  rounded-3" src="assets/images/p2.png" alt="..." />
                        </div>
                    </div>
                </div>
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0  mb-5"  data-aos="fade-up" data-aos-duration="1000">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-center">
                            <div class="p-sm-5 p-4">
                                 <h3 >Project Details :</h3>
                                <p >a beautifully designed Angular application that offers an exceptional user experience. With an intuitive interface and sleek aesthetics, our app ensures a seamless and enjoyable journey for users</p>
                         
                                <div><a href="https://github.com/aymen-ben-massoud/easybank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/easybank/#" class="btn btn-outline-light mx-2"  >  live page</a></div>
                             
                            </div>
                            <img class="img-fluid rounded-3" src="assets/images/p4.png" alt="..." />
                        </div>
                    </div>
                </div>
               
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0 mb-5 "  data-aos="fade-up"  data-aos-duration="1000">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-center">
                            <div class="p-sm-5 p-4">
                                <h3 >Project Details :</h3>
                                <p > Our application combines the art of aesthetics and the science of usability to create a platform that is both visually stunning and incredibly intuitive. From the moment you start using it, you'll appreciate the seamless navigation, modern aesthetics, and attention to detail.</p>
                       
                                <div><a  href="https://github.com/aymen-ben-massoud/angular-1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/angular-1/" class="btn btn-outline-light mx-2"  >  live page</a></div>
                             
                            </div>
                            <img class="img-fluid rounded-3" src="assets/images/p3.png" alt="..." />
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </div>
</section>

