.title{
    font-weight: 700;
    color: #ccf381;
  letter-spacing:1px;
    line-height: 1.1;
 
   
}
img{
  width: 350px;
}
.blurdiv{
  backdrop-filter: blur(15px); 
}
div{
  color: #dfdfe0;

}
p{
  text-align:start;
}