<div class="container mt-5">
<div class="row"><div class="col-lg-6 col-sm-12">


<div class="text  mt-sm-5 p-sm-4 pt-sm-5" data-aos="zoom-in" data-aos-duration="1000">
    

    <h1 class="m-sm-2 m-1">Frontend
        Developer <span>.</span></h1>
  <h4 class="mt-sm-2 m-3 ">{{ typedText }}</h4>
    <p class="m-lg-0 mt-sm-5 pt-sm-3">A Frontend focused Web Developer building the Frontend of Websites and Web Applications that leads to the success of the overall product</p>
 
    <button (click)="openConfirmBox()" class="btn  mt-4">HIRE ME <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
        <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
        <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
      </svg></button></div></div>
      <div  class="col-lg-4 col-sm-12 text-center mt-2 ">
        <img class="" data-aos="zoom-in" data-aos-duration="3000" src="assets/images/bm.png" alt="">
    
    
    </div>
</div>
</div>
